.App {
  text-align: center;
  display:flex;
  gap: 10px;
}

.openseadragon-viewer {
  width: 100%;
  height: 100vh;
  position: relative; /* Ensure it's a positioned element for z-index to work */
  z-index: 1; /* Set a z-index value, adjust as needed */
  margin-top: 10em;
}

/* Style for the "Add Annotation" button */
.custom-annotations button {
  z-index: 2; /* Higher z-index to appear on top of the viewer */
  /* Add any other button styling as needed */
}